<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <form action="/new" method="post">
        <label for="username">Username:
            <input id="username" name="username" type="text" required>
        </label>
        <label for="message">Message:
            <input id="message" name="message" type="text">
        </label>
        <button type="submit">Submit</button>
        <a href="/">Back to home</a>
    </form>
</body>
</html>